.root {
  position: relative;
  display: flex;
  align-items: center;
}

.btn {
  width: size(24);
  height: size(24);
  margin-right: size(22);
}

.icon {
  width: 100%;
  height: 100%;
  color: $white;
}

.account {
  display: flex;
  justify-content: center;
  align-items: center;
  width: size(40);
  height: size(40);
  border-radius: 50%;
  background-color: $gray;
  font-size: size(16);
  font-weight: 500;
  line-height: size(19.36);
  color: $white;
}
