.root {
  width: size(290);
  border-radius: size(16);
  background-color: #f8fafc;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 size(8) size(24);
  padding: size(24) 0;
  border-bottom: 1px solid $lightGray;
}

.img {
  width: size(160);
  height: size(160);
  margin-bottom: size(16);
}

.name {
  margin-bottom: size(16);
}

.share {
  display: flex;
  align-items: center;
  height: size(48);
  padding: 0 size(24);
  border: 1px solid $lightGray;
  border-radius: size(8);
  background-color: $white;

  &Icon {
    width: size(24);
    height: size(24);
    margin-left: size(6);
    color: $white;
  }
}

.btn {
  display: flex;
  align-items: center;
  width: 100%;
  height: size(53);
  padding: 0 size(16);
  border-bottom: 1px solid $lightGray;

  &:last-child {
    border-bottom: none;
  }

  &.active {
    background-color: $black;
  }
}
