.root {
  margin-bottom: size(16);
  padding: size(16);
  cursor: pointer;
  border: 1px solid $lightGray;
  border-radius: size(16);
}

.wrap,
.innerWrap {
  display: flex;
  align-items: flex-end;
}

.wrap {
  justify-content: space-between;
  margin-bottom: size(16);
}

.img {
  width: size(40);
  height: size(40);
  margin-right: size(8);
}

.date {
  margin-bottom: size(8);
}

.msg {
  display: -webkit-box;
  overflow: hidden;
  height: size(25.6);
  font-weight: 500;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
