@use '~styles/media' as *;
@use '~styles/colors' as *;

:root {
  --gfs: 14.4;

  @include tablet {
    --gfs: 8.3;
  }

  @include mobile {
    --gfs: 3.75;
  }
}

html {
  font-size: 1vw;
  overscroll-behavior: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: $white;
  color: $black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
